* {
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.sectionOne {
    background-color: #1F2937;
    height: 400px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

header {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-bottom: auto;
    gap: 10rem;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

header ul a {
    text-decoration: none;
    color: white;
}

.signUpButton {
    background-color: #3882F6;
    color: white;
    font-weight: 900;
    border: 0;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.sectionOne > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.descriptionOne {
    width: max-content;
}

.sectionTwo {
    height: 400px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sectionTwo h2 {
    margin: 2rem 0;
    justify-content: center;
    padding: 0;
}

.boxContainer {
    display: flex;
    
    
    gap: 3rem;
    text-align: center;
   
}

.boxContainer div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 200px;
    
}

.sectionTwoBox {
    height: 200px;
    width: 200px;
    border-radius: 1rem;
    border: 2px solid blue;
}

@media only screen and (max-width: 605px){
    
    .sectionOne > div > div {
        flex-wrap: wrap;
        justify-content: center;
    }

    .sectionOne {
        height: 570px;
    }

    .descriptionOne {
        text-align: center;
    }

    .signUpButton {
        margin-bottom: 2rem;
    }

  }




















  